/* use flexbox to help get the divs into a grid */

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  
}

.row {
  display: flex;
}

.square {
  background-color: pink;
  width: 24px;
  height: 24px;
  border: 1px solid black;
}

.hovered {
  background-color: blue;
}
